{% extends 'base.html.twig' %}

{% block title %}Ajout d'un animal{% endblock %}

{% block myTitle %}Modification {{animal.nom}}{% endblock %}
   

{% block body %}
{{form_start(form)}}
<div class="row m-3">
    <div class="col-6">
        <img src="{{asset('img/' ~ animal.file )}}" style="width:25%">
        <div>{{ form_row(form.file)}}</div>
        <div>{{ form_row(form.nom, {"attr" : {'class':'text-danger'},"label":"Nom de l'animal"})}}</div>
    </div>
    <div class="col-6">
         {{form_widget(form)}}
    </div>
    <div class="d-grid gap-2 col-6 mx-auto">
        <input type="submit" class="btn btn-primary" value="Sauvegarder">
    </div>
     
</div>
   
{{form_end(form)}}


{% endblock %}
