{% extends 'base.html.twig' %}

{% block title %}Familles{% endblock %}

{% block myTitle %}Classification des animaux{% endblock %}
{% block body %}
{% for famille in familles %}
    <div class="m-4">
        <h2 class="border-bottom border-primary pb-4"><a href="{{path('afficher_famille',{'id':famille.id})}}">{{ famille.libelle|capitalize }}</a></h2>
        <div>{{ famille.description }}</div>
            <div class="row">
                {% for animal in famille.animaux %}
                    <div class="col-6">
                        <div class="row align-items-center">
                            <div class="col-12 col-md-8 col-lg-4 text-center p-4">
                                <img src="{{asset('img/' ~ animal.file )}}" class="img-fluid" alt="...">
                            </div>
                            <div class="col">
                                <h2><a href="{{path('afficher_animal',{'id' : animal.id })}}">{{ animal.nom }}</a></h2>
                                <div>{{ animal.description}}</div>
                                <div><a href="" class="btn btn-success">{{ animal.famille.libelle|capitalize }}</a></div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
    
        {% endfor %}

{% endblock %}
