{% extends 'base.html.twig' %}

{% block title %}Carte de l'animal{% endblock %}

{% block myTitle %}Carte de l'animal : {{ animal.nom }}{% endblock %}
{% block body %}
<div class="row align-items-center">
    <div class="col-2 text-center">
        <img src="{{asset('img/' ~ animal.file )}}" class="img-fluid p-4" alt="...">
    </div>
    <div class="col-auto">
        <div>Description : {{ animal.description}}</div>
        <div>Poids : {{ animal.poids}}</div>
        <div>Dangereux :
            {% if animal.dangereux %}
                <span class="badge bg-danger">OUI</span>
            {% else %}
                <span class="badge bg-success">NON</span>
            {% endif %}
        </div>
         
         <div class="pt-4"><a href="{{path('afficher_famille',{'id':animal.famille.id})}}" class="btn btn-success">{{ animal.famille.libelle|capitalize }}</a></div>
    </div>
   
   
</div>

{% endblock %}
