{% extends 'base.html.twig' %}

{% block myTitle %}Les animaux domestiques{% endblock %}
{% block body %}
    

    {% for animal in animaux %}
        <div class="row align-items-center">
            <div class="col-2 text-center">
                <img src="{{asset('img/' ~ animal.file )}}" class="img-fluid p-4" alt="...">
            </div>
            <div class="col-auto">
                <h2><a href="{{path('afficher_animal',{'id' : animal.id })}}">{{ animal.nom }}</a></h2>
                <div>{{ animal.description}}</div>
                <div><a href="{{path('afficher_famille',{'id':animal.famille.id})}}" class="btn btn-success">{{ animal.famille.libelle|capitalize }}</a></div>
                <div class="btn btn-success"><a href="{{path('ajout_animal',{'id':animal.id})}}">Ajouter</a></div>
            </div>
            
            
        </div>
       
    {% endfor %}


{% endblock %}
